In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("fraudTrain.csv", encoding="ISO-8859-1")

In [3]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [6]:
features = ['cc_num', 'amt', 'zip', 'lat', 'long', 'city_pop', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']
x = df.loc[:, features].values
y = df.loc[:,['amt']].values
x = StandardScaler().fit_transform(x)

In [7]:
from sklearn.decomposition import PCA

pca = PCA(n_components=5)

principalComponents = pca.fit_transform(x)

principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4', 'principal component 5'])

In [8]:
finalDf = pd.concat([principalDf, df[['amt']]], axis = 1)

In [9]:
finalDf.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,amt
0,-1.115002,-0.710801,-0.319098,0.405811,-1.817508,4.97
1,3.096899,3.273340,0.151566,0.561539,-1.792415,107.23
2,2.426565,1.476409,0.639419,0.493559,-1.779087,220.11
3,1.837218,2.554559,-0.126515,0.520487,-1.806087,45.00
4,-1.484057,-0.069839,-0.152185,0.416721,-1.813394,41.96

In [10]:
finalDf.tail()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,amt
1296670,2.586491,0.035995,-0.334264,-0.103559,1.763328,15.56
1296671,-1.649564,0.063766,-0.171376,-0.147947,1.757919,51.70
1296672,2.212200,-1.134903,0.057992,-0.146105,1.774992,105.93
1296673,1.099826,1.471786,-0.063193,-0.080180,1.767801,74.90
1296674,2.145631,2.248437,-0.371662,-2.911767,1.281997,4.30

In [11]:
finalDf.min()

principal component 1   -3.035507
principal component 2   -4.438062
principal component 3   -0.426863
principal component 4   -3.925141
principal component 5   -2.365680
amt                      1.000000
dtype: float64

In [12]:
finalDf.max()

principal component 1        7.133470
principal component 2        8.625066
principal component 3      127.257923
principal component 4        4.784942
principal component 5        5.280459
amt                      28948.900000
dtype: float64

In [13]:
finalDf.median()

principal component 1    -0.300260
principal component 2     0.188055
principal component 3    -0.154639
principal component 4     0.167642
principal component 5    -0.005396
amt                      47.520000
dtype: float64

In [14]:
finalDf.sum()

principal component 1   -1.020553e-10
principal component 2    2.293632e-11
principal component 3   -1.523404e-11
principal component 4   -4.274625e-11
principal component 5   -3.497007e-10
amt                      9.122243e+07
dtype: float64

In [15]:
finalDf.count()

principal component 1    1296675
principal component 2    1296675
principal component 3    1296675
principal component 4    1296675
principal component 5    1296675
amt                      1296675
dtype: int64

In [16]:
finalDf.mean()

principal component 1   -7.870534e-17
principal component 2    1.768856e-17
principal component 3   -1.174854e-17
principal component 4   -3.296605e-17
principal component 5   -2.696903e-16
amt                      7.035104e+01
dtype: float64

In [17]:
finalDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 6 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   principal component 1  1296675 non-null  float64
 1   principal component 2  1296675 non-null  float64
 2   principal component 3  1296675 non-null  float64
 3   principal component 4  1296675 non-null  float64
 4   principal component 5  1296675 non-null  float64
 5   amt                    1296675 non-null  float64
dtypes: float64(6)
memory usage: 59.4 MB

In [18]:
finalDf.shape

(1296675, 6)

In [19]:
finalDf

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,amt
0,-1.115002,-0.710801,-0.319098,0.405811,-1.817508,4.97
1,3.096899,3.273340,0.151566,0.561539,-1.792415,107.23
2,2.426565,1.476409,0.639419,0.493559,-1.779087,220.11
3,1.837218,2.554559,-0.126515,0.520487,-1.806087,45.00
4,-1.484057,-0.069839,-0.152185,0.416721,-1.813394,41.96
...,...,...,...,...,...,...
1296670,2.586491,0.035995,-0.334264,-0.103559,1.763328,15.56
1296671,-1.649564,0.063766,-0.171376,-0.147947,1.757919,51.70
1296672,2.212200,-1.134903,0.057992,-0.146105,1.774992,105.93
1296673,1.099826,1.471786,-0.063193,-0.080180,1.767801,74.90
1296674,2.145631,2.248437,-0.371662,-2.911767,1.281997,4.30